{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h3>Autocomplete test</h3>

    <div
            data-controller="autocomplete"
            data-autocomplete-url-value="{{ path('test_autocomplete') }}"
    >
        <input type="text" data-autocomplete-target="input"/>
        <input type="hidden" name="bird_id" data-autocomplete-target="hidden"/>
        <ul class="list-group" data-autocomplete-target="results"></ul>
    </div>

    <h3>Clipboard test</h3>

    <div
            data-controller="clipboard"
            data-clipboard-success-content="Copied!"
    >
        <input
                type="text"
                value="Click the button to copy me!"
                data-clipboard-target="source"
        />

        <button
                type="button"
                data-action="clipboard#copy"
                data-clipboard-target="button"
        >
            Copy to clipboard
        </button>
    </div>
{% endblock %}
